/* Reset */
* {
  margin: 0;
  padding: 0;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* Content */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  font-family: monospace;
}

h1 {
  text-align: center;
  margin-bottom: 12px;
  color: azure;
}

div {
  position: relative;
}

div::before {
  position: absolute;
  content: '';
  display: block;
  z-index: 1;
  background-color: #a69108;
  width: 100%;
  height: 100%;
  left: 16px;
  top: 16px;
}

ul {
  display: grid;
  grid-template-columns: repeat(var(--dim-val, 8), auto);
  grid-template-rows: repeat(var(--dim-val, 8), auto);
  width: 400px;
  height: 400px;
  list-style: none;
  column-gap: 4px;
  row-gap: 4px;
  border: 16px solid beige;
  background-color: beige;
  position: relative;
  z-index: 2;
}

li {
  background-color: beige;
  position: relative;
}

li:hover {
  background-color: gray;
  cursor: pointer;
}

.hidden {
  background-color: black;
}

.mine {
  background-color: red;
}

.marked {
  background-color: orange;
}

span {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 36px;
}
