/* Reset */
* {
  margin: 0;
  padding: 0;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* Content */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

h1 {
  text-align: center;
  margin-bottom: 12px;
  color: azure;
}

ul {
  display: grid;
  grid-template-columns: repeat(var(--dim-val, 4), auto);
  grid-template-rows: repeat(var(--dim-val, 4), auto);
  width: 400px;
  height: 400px;
  list-style: none;
  column-gap: 4px;
  row-gap: 4px;
  border: 4px solid beige;
  background-color: beige;
}

li {
  background-color: black;
}

li:hover {
  background-color: gray;
  cursor: pointer;
}
